
body {
	background-image: url('background.png');
	background-size: cover;
	background-position: 0px -250px;
}

.wrapper {
	margin: 20em auto 2em auto;
	width:80%;
	position:relative;
}

/* animated element */
.robot {
	animation-name: slide;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(.13,.51,.61,.95);
	animation-fill-mode:forwards;
	animation-iteration-count: 3;
	animation-direction: alternate-reverse;
}

/* animation code */
@keyframes slide {
	0%   {transform: translateX(0);}
	25%  {transform: translateX(900px);}
	50%  {transform: translateX(100px);}
	75%  {transform: translateX(800px);}
	100% {transform: translateX(0px);}
}







